<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="blog-article-lite">
    <template>
        <style>
             :host {
                display: block;
                padding: 10px;
            }

            paper-card {
                margin: 2% 15%;
                min-width: 70%;

                --paper-card-header: {
                    background-color: var(--paper-lime-500);
                }
            }
        </style>

        <paper-card heading="[[blogPost.title]] - [[blogPost.creationDate]]">
            <div class="card-content">
                <span>[[_limitArticleSize()]]</span>
            </div>
            <div class="card-actions justified">
                <span>Written by [[blogPost.autor]]</span>
            </div>
        </paper-card>
    </template>

    <script>
        class BlogArticleLite extends Polymer.Element {
            static get is() { return 'blog-article-lite'; }

            static get properties() {
                return {
                    blogPost: Object,
                };
            }

            _limitArticleSize() {
                return this.blogPost.article.substring(0, 140);
            }
        }

        window.customElements.define(BlogArticleLite.is, BlogArticleLite);
    </script>
</dom-module>