<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="blog-article-lite">
    <template>
        <style include="shared-styles">
             :host {
                display: block;
                padding: 10px;
            }

            paper-card {
                margin: 2% 15%;
                min-width: 70%;

                --paper-card-header: {
                    background-color: var(--paper-lime-500);
                }
            }

            paper-button {
                float: right;
                margin-bottom: 5px;
                background-color: var(--paper-lime-500);

                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-lime-a200) !important;
                    color: white !important;
                }
                ;
            }

            paper-button:hover {
                background-color: var(--paper-lime-100);
            }

            a,
            a:visited,
            a:hover,
            a:active {
                color: inherit;
            }
        </style>

        <paper-card heading="[[blogPost.title]] - [[blogPost.creationDate]]">
            <div class="card-content">
                <span>[[_articleExtract()]]</span>
            </div>
            <div class="card-actions justified">
                <span>Written by [[blogPost.autor]]</span>
            </div>
        </paper-card>
    </template>

    <script>
        class BlogArticleLite extends Polymer.Element {
            static get is() { return 'blog-article-lite'; }

            static get properties() {
                return {
                    blogPost: Object,
                };
            }

            _articleExtract() {
                return this.blogPost.article.substring(0, 140);
            }
        }

        window.customElements.define(BlogArticleLite.is, BlogArticleLite);
    </script>
</dom-module>