<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="blog-article-lite">
    <template>
        <style include="shared-styles">
             :host {
                display: block;
                padding: 10px;
            }
        </style>

        <paper-card heading="[[blogPost.title]] - [[blogPost.creationDate]]">
            <div class="card-content">
                <span>[[blogPost.article]]</span>
            </div>
            <div class="card-actions justified">
                <span>[[blogPost.autor]]</span>
                <paper-button raised>Read more</paper-button>
            </div>
        </paper-card>
    </template>

    <script>
        class BlogArticleLite extends Polymer.Element {
            static get is() { return 'blog-article-lite'; }

            static get properties() {
                return {
                    blogPost: Object,
                };
            }
        }

        window.customElements.define(BlogArticleLite.is, BlogArticleLite);
    </script>
</dom-module>